
{% extends 'main.html' %}

{% load materializecss %}
  {% block content %}
        
  <div class="row">
    <form class="col s12 m4 l8" method = 'POST' action = "">  
      {% csrf_token %}

      

      <div class="row">
        <div class="input-field col s12">

          {{ form|materializecss }}
          <!-- <input type="text" id="content" class="materialize-textarea " >
          <label for="textarea1">What's Happening...</label> -->
          <button type="submit" value="Submit" class="waves-effect waves dark btn">Share</button>
        </div>
      </div>
    </form>
  </div>


        {% for post in posts %}

        <div class="row">
          <div class="col s12 m6">
            <div class="card teal lighten-3 darken-1">
              <div class="card-content white-text">
                <span class="card-title">{{ post.content }}</span>
                <p class="teal-text text-accent-1">{{ post.created_date }}</p>
              </div>
              <div class="card-action teal lighten-3">
                <div>@{{ post.author}}</div>
                <!--<a href="#">This is a link</a> -->
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

  {% endblock content %}

