{% extends 'main.html' %}

{% load materializecss %}
{% block content %}


{% if login == 'login' %}

<div class="row">
    <br>
    <br>
    <br>
    <br>
<div class="col s5 center-align">

    <form method="POST" action="">
        {% csrf_token %}
        <div class="card-panel teal blue-grey darken-3">

            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <br>
            <br>
            <input type="submit" class=" waves-effect waves-light btn cyan darken-4">

        </div>

        <div>
            <a href="{% url 'register' %}">Create an account</a>
        </div>

    </form>

</div>
</div>

{% else %}

<div>
    <form method="POST" action="">
        {% csrf_token %}

        {{ form|materializecss }}

        <button type="submit" class="btn" value="Submit">Submit</button>
    </form>

</div>

{% endif %}



{% endblock content %}